@tailwind base;
@tailwind components;
@tailwind utilities;

/* Show native browser calendar */
input[type="date"].fr-input::-webkit-inner-spin-button,
input[type="date"].fr-input::-webkit-calendar-picker-indicator {
  display: block;
  margin-right: auto;
  opacity: 1;
}
.fr-input-wrap[class*=" ri-"] input[type="date"].fr-input {
  background-image: none;
  padding-right: 1rem;
}
.fr-input-wrap.ri-calendar-line::before {
  content: none;
}

/* Reduce header logo height */
.fr-header__logo {
  padding: 0.75rem 1rem;
}

.fr-header__logo .fr-logo {
  font-size: 0.6rem;
}

/* divide DSFR values by 1.125 */
.fr-header__logo .fr-logo::after {
  min-width: 1.75rem;
  background-size: 3.5rem 2.5rem;
  padding-top: 1.4rem;
  background-position: 0 calc(100% + 1.25rem);
}
